

/*////////////////////////////*/

.giohang {
    width: 80%;
    margin: 5% 10% 10%;
    font-size: 20px;
}

    .giohang .large-12 {
        max-width: 70%;
        flex-basis: 100%;
    }

a {
    text-decoration: none;
    color: #094125;
}

    a:hover {
        color: #F7C551;
    }

table {
    width: 100%;
    margin-bottom: 1em;
    border-color: #ececec;
    border-spacing: 0;
}

.giohang .product-name {
    letter-spacing: .05em;
    /* text-transform: uppercase; */

    width: 30%;
    color: #111;
}

.giohang .product-price {
    border-spacing: 0;
    box-sizing: border-box;
    padding: 0.5em;
    line-height: 1.05;
}

.giohang .product-quatity {
    border-spacing: 0;
    padding: .5em;
    text-align: left;
    border-bottom: 1px solid #ececec;
    font-size: .9em;
    line-height: 1.05;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.giohang .product-thumbnail {
    border-spacing: 0;
    padding: 0.5em;
    text-align: left;
    border-bottom: 1px solid #ececec;
    width: fit-content;
}
.product-thumbnail img 
 
{
    max-width: 50%;
    margin-left: 10%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.giohang .product-subtotal {
    width: 10%;
    /* border-spacing: 10px; */
    padding: 0.5em;
    text-align: left;
    /* border-bottom: 1px solid #ececec; */
}

.giohang .product-remove {
    width: 20px;
    padding: 0;
}

.giohang th, td {
    padding: 0.5em;
    text-align: left;
    border-bottom: 1px solid #ececec;
}

.giohang a.remove, a.icon-remove {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 15px !important;
    line-height: 19px !important;
    border-radius: 100%;
    color: #ccc;
    font-weight: bold;
    text-align: center;
    border: 2px solid currentColor;
}


.giohang .show-for-small {
    display: none !important;
}

.giohang .text-center .quantity, .quantity {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 1em;
    white-space: nowrap;
    vertical-align: top;
}

.giohang .text-center .button + .quantity, .button + .quantity {
    margin-right: 0
}

.giohang .quantity + .button {
    margin-right: 0;
    font-size: 1em
}

.giohang .quantity .button.minus {
    margin-right: 0;
    border-right: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important
}

.quantity button.plus {
    border-left: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important
}

.quantity .minus, .quantity .plus {
    padding-left: 0.5em;
    padding-right: 0.5em
}

.giohang .quantity input {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

    .giohang .quantity input[type="number"] {
        max-width: 2.5em;
        width: 2.5em;
        text-align: center;
        -moz-appearance: textfield;
        font-size: 1em;
    }
h4{
    color: #094125;
    margin: 0 100px;
    margin-bottom: -10;
    font-weight: initial;
}

@media (max-width: 549px) {
    .quantity input[type="number"] {
        width: 2em
    }
}

.quantity input[type="number"]::-webkit-outer-spin-button, .quantity input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.giohang .is-form, button.is-form, input[type='submit'].is-form, input[type='reset'].is-form, input[type='button'].is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    text-shadow: 1px 1px 1px #fff;
    color: #666;
    border: 1px solid #ddd;
    text-transform: none;
    font-weight: normal;
}

.giohang .btnthanhtoan {
    background-color: #00b4f2;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bolder;
    margin-right: 1em;
    line-height: 2.4em;
    min-height: 2.5em;
    padding: 0 1.2em;
    margin-left: 70%;
    border-radius: 10px;
}

.giohang .btntieptucxem {
    color: #417505;
    background-color: #f9f9f9;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: .02em;
    cursor: pointer;
    font-weight: bolder;
    border: 2px solid #417505;
    margin-right: 1em;
    line-height: 2.4em;
    min-height: 2.5em;
    padding: 0 1.2em;
    box-sizing: border-box;
}

.giohang .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
}

.giohang .tong th {
    margin-left: 70%;
}

.giohang button, input[type='submit'], input[type='submit'].button, input[type='reset'].button, input[type='button'].button {
    color: #91af5f;
    background-color: #f9f9f9;
    /* border-color: #666; */
}

.giohang span.amount {
    white-space: nowrap;
    color: #111;
    font-weight: bold;
}

.giohang a {
    text-decoration: none;
    color: black;
}

    .giohang a.remove, a.icon-remove {
        display: block;
        width: 24px;
        height: 24px;
        font-size: 15px !important;
        line-height: 19px !important;
        border-radius: 100%;
        color: #ccc;
        font-weight: bold;
        text-align: center;
        border: 2px solid currentColor;
    }

/*/////////////////////////////////////////GIO HANG*/

.wrap_vanchuyen {
    padding: 10% gray;
    color: black;
    margin: 0 50px;
    display: flex;
    flex-direction: row-reverse;
}

.sidebar {
    margin: 20px;
    width: 38%;
    background-color: #F8F8F8;
    padding: 5%;
    background-position: left top;
    position: relative;
    color: black;
    /* float: right; */
}

.tieude {
    font-size: 25px;
}

.main_vanchuyen {
    padding: 5%;
    margin: 20px;
    background-color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    flex: 1 0 auto;
}

.section1 {
    color: black;
    font-size: 20px;
    line-height: 1.3em;
    overflow-wrap: break-word;
    word-break: break-word;
    -webkit-font-smoothing: subpixel-antialiased;
    position: relative;
    padding-top: 0;
}

.section1-content-text a {
    color: #094125;
}

    .section1-content-text a:hover {
        color: #F7C551;
    }

.btn_magiamgia {
    background-color: #094125;
    padding: 2px;
    color: white;
    filter: brightness(1.2);
    flex: 0 0 auto;
    float: right;
    margin-top: -6%;
    border-radius: 5px;
}

.btn_phuongthuc {
    background-color: #00646b;
    padding: 5px;
    color: white;
    flex: 0 0 auto;
    float: right;
    margin-top: 0%;
    border-radius: 5px;
}

.fieldset .field .field-input {
    box-shadow: 0 0 0 1px #d9d9d9;
    background-color: white;
    color: #333333;
    border: #094125 0.1px;
    border-radius: 15px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.94em 2.8em 0.94em 0.8em;
}

.product-image {
    width: 150px;
    height: auto;
}

.magiamgia {
    color: #094125;
    margin: 20px 50px;
}

.inputma {
    border-radius: 10px;
    padding: 6px;
    border: 00.1px;
}

.mota_gia {
    margin-top: 10%;
    text-align: left;
}

    .mota_gia tr {
        padding: 10px;
    }

/* PHƯƠNG THỨC THANH TOÁN*/

.ptvanchuyen {
    padding: 10px;
    font-size: 20px;
    width: 100%;
    background: linear-gradient( 40deg,#4caf5014,#ffeb3b17);
    border: 5px solid #d5d5d500;
    color: #333333;
    border-image-source: linear-gradient(to right, #4caf5080, #9c27b0a8, #03a9f4a6);
    border-image-slice: 1;
}

@media(max-width:767px)
{
    .cart-wrapper-sm-touch-scroll
    {
        width: 100%;
    }
    .wrap_vanchuyen {
        padding: 0% gray;
        color: black;
        margin: 0 0px;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 100%;
    }
h4 
{
 
        color: #094125;
        margin: 0 5%;
        margin-bottom: -10;
        font-weight: initial;
    }
    .sidebar {
        margin: 20px;
        width: fit-content;
    }
.inputma {
    border-radius: 10px;
    padding: 6px;
    border: 0.1px;
    margin-left: 15%;
}
.giohang .btntieptucxem {
    color: #417505;
    background-color: #f9f9f9;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.5em;
    letter-spacing: .02em;
    /* cursor: pointer; */
    font-weight: bolder;
    border: 2px solid #417505;
    margin-right: 0.2em;
    /* min-height: 2.5em; */
    /* padding: 0 1.2em; */
    /* box-sizing: border-box; */
    margin-top: 5%;
    /* text-align: center; */
}
}