

/*--------HEADER-------------*/
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
        .call-mail
        {
            font-size: 16px;
            color: #417505;
            margin-top: 20px;
            margin-left: 60px;
        }
            .call-mail a {
                font-size: 16px;
                color: #417505;
            }
        .log-sign
        {
            font-size: 16px;
            color: #417505;
            margin-top: -40px;
            margin-left: 80%;
        }
            .log-sign a {
                font-size: 16px;
                color: #417505;
            }
        .main-menu {
        background: rgb(255, 255, 255);
        height: 50px;
        padding: 20px;
        }
        .main-menu li {
            position: relative;
            color: #417505;
            font-size: 16px;
        }
        .main-menu ul li {
            display: inline-block;
        }

            .main-menu ul li a {
                color: #417505;
                text-decoration: none;
                padding: 20px;
            }
                .main-menu ul li a:hover {
                    color: #F7C551;
                    font-size: 18px;
                }
                .main-menu ul li .sub-menu li
                {
                    padding: 5px;
                }
                .main-menu ul li .sub-menu li a
                {
                    color: white;       
                }
                    .main-menu ul li .sub-menu li a:hover {
                        color: #F7C551;
                        font-size: 16px;
                    }

    .main-menu li:hover .sub-menu{
    display: block;
    }
       
    .main-menu .sub-menu {
        top: 30px;
        left: 0;
        padding: 5px;
        position: absolute;
    display: none;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    width: 170px;
    }

    .search-container button {

    }

    .search-container button:hover {
      background: #417505;
      font-size:18px;
    }

        /*        .................... */

        .slider {
            margin-top: 13%;
            width: 100%;
            height: 500px;
            border-radius: 10px;
            overflow: hidden;
        }

        .slides {
            width: 500%;
            height: 500px;
            display: flex;
        }

            .slides input {
                display: none;
            }

        .slide {
            width: 20%;
            transition: 2s;
        }

            .slide img {
                width: 100%;
                height: 500px;
                object-fit: cover;
                object-position: 0 50%;
            }
        /* ..*/
        .navigation-manual {
            position: absolute;
            width: 100%;
            margin-top: -40px;
            display: flex;
            justify-content: center;
        }

        .manual-btn {
            border: 2px solid #417505;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 1s;
        }

            .manual-btn:not(:last-child) {
                margin-right: 40px;
            }

            .manual-btn:hover {
                background: #F7C551;
            }

        #radio1:checked ~ .first {
            margin-left: 0;
        }

        #radio2:checked ~ .first {
            margin-left: -20%;
        }

        #radio3:checked ~ .first {
            margin-left: -40%;
        }

        .navigation-auto {
            position: absolute;
            display: flex;
            width: 100%;
            justify-content: center;
            margin-top: 460px;
        }

            .navigation-auto div {
                border: 2px solid #417505;
                padding: 5px;
                border-radius: 10px;
                transition: 1s;
            }

                .navigation-auto div:not(:last-child) {
                    margin-right: 40px;
                }

        #radio1:checked ~ .navigation-auto .auto-btn1 {
            background: #417505;
        }

        #radio2:checked ~ .navigation-auto .auto-btn2 {
            background: #417505;
        }

        #radio3:checked ~ .navigation-auto .auto-btn3 {
            background: #417505;
        }

/*------CHÍNH SÁCH BẢO MẬT-------*/

    .duongdan {
        text-align: center;
        color: white;
        font-size: 18px;
        margin-top: 20px
    }

        .duongdan a:hover {
            color: aquamarine;
        }

        .duongdan a:link {
            color: aquamarine;
        }

    .phannoidung {
        font-size: 18px;
        text-align: justify;
    }

        .phannoidung p {
            margin: 20px;
        }








/*---------FOOTER---------*/

    .footer-subscribe {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        background: #317932;
        padding: 30px 40px;
    }

        .footer-subscribe .grid {
            display: flex;
            align-items: center;
        }

    .large--one-half {
        width: 50%;
    }

    .footer-subscribe form {
        border-bottom: 1px solid #e2e2e2;
        margin-left: 50px;
    }

        .footer-subscribe form .input-group-field {
            background: none;
            border: 0px;
            outline: none;
            color: #fff;
        }

    svg:not(:root).svg-inline--fa {
        overflow: visible;
    }

    * {
        margin: 0;
        padding: 0;
        font-family: Roboto;
    }

    footer {
        position: page;
        width: fit-content;
        height: auto;
        padding: 25px 25px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

        footer .container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row;
        }

    .links h2 {
        position: relative;
        color: #000000;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .links h2 {
        position: relative;
        color: #000000;
        font-weight: 500;
        margin-bottom: 5px;
    }

        .links h2:before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100px;
            height: 2px;
        }

    .links {
        position: center;
        width: 300px;
    }

        .links ul li {
            list-style: none;
        }

            .links ul li a {
                color: #000000;
                text-decoration: none;
                margin-bottom: 5px;
                display: inline-block;
            }

                .links ul li a:hover {
                    color: #094125;
                }

/*---------ĐĂNG KÝ----------*/
.banner-trang {
    width: 1500px;
    height: 300px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: center
}

.back-home{
    color: white;
}
    .back-home:hover {
        color: aquamarine;
    }


.dk-form-vertical {
    position: relative;
    line-height: 24px;
    font-size: 18px;
    line-height: 1.6;
    font-family: Roboto;
    color: #131111;
    font-weight: 300;
    text-align: center;
    list-style: none;
    margin-left: -30px;
}


.dk-h1 {
    color: #131111;
    padding: 0px 0px 15px 0px;
    margin: 30px 0px 15px 0px;
    border-bottom: 1px solid #e2e2e2;
}

.dk-input {
    border: 1px solid #e2e2e2;
    width: 400px;
    padding: 8px 10px;
    margin-bottom: 7px;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
}

.dk-btn {
    display: inline-block;
    padding: 8px 10px;
    width: 400px;
    margin: 0;
    line-height: 1.42;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;
    border-radius: 3px;
    background-color: #094125;
    color: #fff;
}

.dk-back {
    color: #094125;
    text-decoration: none;
    background: transparent;
}

    .dk-back:hover {
        color: #417505;
    }

/*------DANG NHAP--------*/

.dn-form-vertical {
    position: relative;
    line-height: 24px;
    font-size: 18px;
    line-height: 1.6;
    font-family: Roboto;
    color: #131111;
    font-weight: 300;
    text-align: center;
    list-style: none;
    margin-left: -30px;
}


.dn-h1 {
    color: #131111;
    padding: 0px 0px 15px 0px;
    margin: 30px 0px 15px 0px;
    border-bottom: 1px solid #e2e2e2;
}

.dn-input {
    border: 1px solid #e2e2e2;
    width: 400px;
    padding: 8px 10px;
    margin-bottom: 7px;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
}

.dn-btn {
    display: inline-block;
    padding: 8px 10px;
    width: 400px;
    margin: 0;
    line-height: 1.42;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;
    border-radius: 3px;
    background-color: #094125;
    color: #fff;
}

.dn-a {
    color: #094125;
    text-decoration: none;
    background: transparent;
}

    .dn-a:hover {
        color: #417505;
    }

.logins {
    width: 400px;
    text-align: center;
    display: inline-block;
}

.socials-login {
    text-align: center;
    margin-bottom: 4px;
}

    .socials-login a {
        padding: 4px 30px;
        color: #fff;
        line-height: 2.5em;
        text-decoration: none;
        border-radius: 2px;
        white-space: nowrap;
        display: inline-block;
        margin-top: 8px;
        width: 300px;
    }

    .socials-login span.fa {
        margin-right: 3px;
    }

.bg-facebook {
    background: #3a5899;
}

    .bg-facebook:hover, .bg-facebook:focus {
        background: #1d418d;
    }


.bg-google-plus {
    background: #db4437;
}

    .bg-google-plus:hover, .bg-google-plus:focus {
        background: #bb2a1d;
    }