body
{
}


/*.g-grid {
    display: grid;
    grid-template-columns: calc(60% - (30px * 1/2)) calc(40% - (30px * 1/2));
    grid-column-gap: 10%;
}*/

#lienhe .g-grid{
    display:flex;
    flex-direction:column;
}
#lienhe .g-grid-col {
    padding: 0px;
    background-color: white;
    color: #000000;
}
#lienhe .button.text-right {
    text-align: center;
    margin-bottom: 10%
}

#lienhe .list_contact {
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

    #lienhe .list_contact li {
        width: calc(100% / 3);
        text-align: center;
        margin-bottom: 30px;
        display: list-item;
    }

        #lienhe .list_contact li img {
            width: 44px;
            vertical-align: middle;
            border: 0 none;
        }

#lienhe .contact-container .form-box h1 {
    color: var(--color-yellow);
    margin: 0;
}

#lienhe .form-group {
    margin-bottom: 1rem;
}

#lienhe .mb-3, .my-3 {
    margin-bottom: 1rem;
}

#lienhe .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

#lienhe .input-group-prepend {
    margin-right: -1px;
}

#lienhe .input-group.required .input-group-text {
    background-color: transparent;
    color: #f00;
}

#lienhe .input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#lienhe .input-group > .form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#lienhe .input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

#lienhe .input-group-append {
    margin-left: -1px;
}

#lienhe .input-group i {
    width: 16px;
    color: #43a047;
}

#lienhe .input-group-btn {
    margin-left: 90%;
}

#lienhe .fa, .fas {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

#lienhe .input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control, .input-group > .form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}

#lienhe .input-group.required .input-group-text {
    background-color: transparent;
    color: #f00;
}

#lienhe .form-control {
    display: block;
    width: 100%;
    height: calc(1.5 em + 0.75 rem + 2 px );
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#lienhe .alert {
    text-align: justify;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1em;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 385px;
}

#lienhe .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#lienhe .alert-dismissible {
    padding-right: 4rem;
}

#lienhe .close:hover {
    color: #000;
    text-decoration: none;
}

#lienhe .alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

#lienhe button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#lienhe .btn-success {
    background-color: green;
    color: #fff;
}

#lienhe a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

#lienhe .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 10px;
}

#lienhe .input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}


* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#lienhe #left {
    width: 20%;
    height: 300px;
    background: #43a047;
    float: left;
    padding: 10px;
    margin: 10px;
}

#lienhe #main {
    width: 20%;
    height: 300px;
    background: #e9ecef;
    margin-left: 10px;
    padding: 10px;
    margin: 10px;
}

#lienhe #right {
    width: 20%;
    height: 300px;
    background: #155724;
    margin-left: 10px;
    padding: 10px;
    margin: 10px;
}
#lienhe .grid__item {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: -30px;
    vertical-align: top;
}

#lienhe .container {
    overflow: auto;
    margin-right: 30px;
    text-align: center;
    text-align: left;
    margin-left: 30px;
}

#lienhe .grid {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -30px;
    
}

#lienhe .large--one-third {
    width: 100%;
    text-align: center
}



#lienhe .contact-item {
    text-align: center;
    padding: 50px 30px;
    background: #fafafa;
    margin: -80px 0px 100px;
    height: 250px;
}

#lienhe .wrapper {
    max-width: 100%;
    margin-top: 20%;
    padding: 0 5%;
    text-align: center;
}


#lienhe .page-head {
    margin-top: 0%;
    border-bottom: 1px solid #e2e2e2
}


    #lienhe .page-head h1 {
        text-align: center;
        margin-left: 47%;
    }

#lienhe .g-grid-col {
    flex-direction: column
        
}
.grid{
    flex-direction:column
}
    @media screen and (min-width:480px ) {
       #lienhe .grid{
            display:flex;
            flex-direction:column;

        }
    }

    @media screen and (min-width:1024px ) {
        #lienhe .g-grid {
            display: flex;
            flex-direction: column;
            
        }
        .grid__item {
            padding:2%
        }
        
    }