#lh-breadcrumb-wrapper5.lh-breadcrumb-w-img {
    height: 300px;
    padding: 30px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

    #lh-breadcrumb-wrapper5.lh-breadcrumb-w-img .lh-breadcrumb-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    #lh-breadcrumb-wrapper5.lh-breadcrumb-w-img .lh-breadcrumb-content {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 100%;
    }

        #lh-breadcrumb-wrapper5.lh-breadcrumb-w-img .lh-breadcrumb-content .lh-breadcrumb-small a {
            display: inline-block;
            position: relative;
        }

a, .text-link {
    color: white;
    text-decoration: none;
    background: transparent;
}

#breadcrumb-wrapper5.breadcrumb-w-img .breadcrumb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

input {
    border: 1px solid black;
    height: 45px;
    width: 325px;
    border-radius: 20px;
    padding: 5px;
    font-size: 15px;
}


.g-grid {
    display: grid;
    grid-template-columns: calc(60% - (30px * 1/2)) calc(40% - (30px * 1/2));
    grid-column-gap: 30px;
}

.g-grid-col {
    padding: 30px;
    background-color: white;
    color: #000000;
}

.list_contact {
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.list_contact li {
    width: calc(100% / 3);
    text-align: center;
    margin-bottom: 30px;
    display: list-item;
}

    .list_contact li img {
        width: 44px;
        vertical-align: middle;
        border: 0 none;
    }

.contact-container .form-box h1 {
    color: var(--color-yellow);
    margin: 0;
}

.form-group {
    margin-bottom: 1rem;
}

.mb-3, .my-3 {
    margin-bottom: 1rem;
}


.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group-prepend {
    margin-right: -1px;
}

.input-group.required .input-group-text {
    background-color: transparent;
    color: #f00;
}

.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.input-group-append {
    margin-left: -1px;
}

.input-group i {
    width: 16px;
    color: #43a047;
}

.fa, .fas {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control, .input-group > .form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}

.input-group.required .input-group-text {
    background-color: transparent;
    color: #f00;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5 em + 0.75 rem + 2 px );
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.alert {
    text-align: justify;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1em;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width: 385px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-dismissible {
    padding-right: 4rem;
}

.close:hover {
    color: #000;
    text-decoration: none;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn-success {
    background-color: green;
    color: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 10px;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}


* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#left {
    width: 20%;
    height: 300px;
    background: #43a047;
    float: left;
    padding: 10px;
    margin: 10px;
}

#main {
    width: 20%;
    height: 300px;
    background: #e9ecef;
    margin-left: 10px;
    padding: 10px;
    margin: 10px;
}

#right {
    width: 20%;
    height: 300px;
    background: #155724;
    margin-left: 10px;
    padding: 10px;
    margin: 10px;
}

.container {
    overflow: auto;
    padding: 30px;
    text-align: center;
}

.grid {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -30px;
}

.large--one-third {
    width: 33.333%;
}

.grid__item {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 30px;
    vertical-align: top;
}

.contact-item {
    text-align: center;
    padding: 80px 30px;
    background: #fafafa;
    margin: 80px 0px 100px;
    height: 250px;
}

.wrapper {
    max-width: 100%;
    margin-top:-10%;
    padding: 0 50px;
    text-align: center;
}

.page-head {
    margin-top: 420px;
}

.footer-subscribe {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background: #094125;
    padding: 30px 40px;
}

    .footer-subscribe .grid {
        display: flex;
        align-items: center;
    }

.large--one-half {
    width: 50%;
}

.footer-subscribe form {
    border-bottom: 1px solid #e2e2e2;
    margin-left: 50px;
}

    .footer-subscribe form .input-group-field {
        background: none;
        border: 0px;
        outline: none;
        color: #fff;
    }

svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.text-center{
    margin-left:50%
}
.breadcrumb-w-img{
    margin-top:60px
}
.page-head {
    margin-top: -20%
}
.footer-container{
    margin-top:20px
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .grid {
        display: flex;
        flex-direction: column;
        margin-top: 100px
    }

    .large--one-third {
        width: 100%;
        margin-top: -20%
    }

    .page-head {
        margin-top: -20%
    }

    .g-grid {
        display: flex;
        flex-direction: column;
    }

    .g-grid-col {
        padding: 0
    }
}
@media only screen and (min-width: 480px) and (max-width:768px) {
    .grid {
        display: flex;
        flex-direction: column;
        margin-top: 100px
    }

    .large--one-third {
        width: 100%;
        margin-top: -20%
    }

    .page-head {
        margin-top: -10%
    }

    .g-grid {
        display: flex;
        flex-direction: column;
    }

    .g-grid-col {
        padding: 0
    }
}