
/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    /*===== Colors =====*/
    --first-color: #ffc764;
    --first-color-light: #F7F6FB;
    --white-color: #F7F6FB;
    /*===== Font and typography =====*/
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    /*===== z index =====*/
    --z-fixed: 100;
}

.than_trang_chu {
   margin-top: 35%;
}

/*TABTABBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB*/
.wrapper {
    *zoom: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

    .wrapper:after {
        content: '';
        display: table;
        clear: both;
    }

@media screen and (min-width: 480px) {

    .wrapper {
        padding: 0 30px;
    }
}

.main-content {
    display: block;
}

.inner {
    margin: 0 10%;
    object-fit: scale-down;
    font-size: 16px;
    font-family: Roboto;
    color: #131111;
    line-height: 24px;
    box-sizing: border-box;
}

.section-title h2 {
    text-align: center;
    font-size: 36px;
    color: #000000;
    margin-top: 100px;
    margin-bottom: 10px;
}


#trangchusp {
    padding: 5%;
}

.tab {
    margin: 10px auto 20px;
    text-align: center;
    display: table;
    border-bottom: 1px solid #e2e2e2;
}

    .tab button {
        position: relative;
        padding: 5px 15px;
        outline: none;
        margin: 0px 10px;
    }

        .tab button:after {
            content: '';
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 0px;
            background: #094125;
            height: 3px;
        }

        .tab button.active, .tab button:hover {
            color: #094125;
        }

            .tab button.active:after, .tab button:hover:after {
                width: 100%;
            }

        .tab button.active, .tab button:hover {
            color: #094125;
        }

    .tab button {
        position: relative;
        padding: 5px 15px;
        /* outline: none; */
        margin: 0px 10px;
    }

.tablinks {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    overflow: visible;
    user-select: text;
    -webkit-appearance: none;
    background: none;
    border: none;
    display: inline-block;
    cursor: pointer;
    line-height: normal;
    font-size: 16px;
    font-family: Roboto !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    transition: all 0.3s ease;
    color: #094125;
}

.tab button.active:after, .tab button:hover:after {
    width: 100%;
}

.tab button:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0px;
    background: #094125;
    height: 3px;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
    color: #131111;
}

    .tabcontent h2 {
        margin-bottom: 100px;
        color: #131111;
    }



.tab2 {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    line-height: 24px;
    box-sizing: border-box;
    animation: fadeEffect 1s;
    color: #131111;
    display: none;
}

.sptab {
    justify-content: space-between;
    display: flex;
}

.large--one-quarter {
    width: 25%;
}

input, :before, :after {
    box-sizing: border-box;
}

#tab1 .tabcontent {
    animation: fadeEffect 1s;
    color: #131111;
}

@media(max-width:1024px) {
    .section-title h2 {
        text-align: center;
        font-size: 36px;
        color: #000000;
        margin-top: 145px;
        margin-bottom: 10px;
    }

    @media (max-width:769px) {
        .section-title h2 {
            text-align: center;
            font-size: 36px;
            color: #000000;
            margin-top: 203px;
            /* margin-bottom: 10px; */
        }
        @media(max-width:480px){
            .section-title h2 {
                text-align: center;
                font-size: 1.5em;
                color: #000000;
                margin-top: 135px;
                /* margin-bottom: 10px; */
            }
        }

        .inner {
            margin: 0%;
        }

        .tab {
            margin: 5% 10%;
        }

            .tab button {
                padding: 0;
            }

        .tablinks {
            font-size: 0.8em;
        }

        .sptab {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
/*trang chu ...........................................*/



/*-----------------TRANG SAN PHAM CHI TIET*/
/*----------BANNER--------*/

.banner_giohang
{

width: 100%;
background-size: cover;
height: 300px;
text-align: center;
background-repeat: no-repeat;
position: center;
margin: 20px 0px 20px 0px;
}


/*------CHÍNH SÁCH BẢO MẬT-------*/
.duongdan{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 20px
}
    .duongdan a {
        color: white;
        text-decoration: none;
    }
        .duongdan a:hover {
            color: #F7C551;
        }

.phannoidung {
    font-size: 18px;
    text-align: justify;
    padding: 9%;
    margin: -2% 3% 35% 3%;
}

    .phannoidung p {
        margin: 1%;
    }
@media screen and (min-width:480px ){
    .phannoidung {
        font-size: 20px;
        padding: 10%;
        margin: -2% 2% 10% 2%;
    }

        .phannoidung p {
            margin: 2%;
        }
}
@media screen and (min-width:1024px ) {
    .phannoidung {
        font-size: 22px;
        padding: 11%;
        margin: -2% 2% 1% 2%;
    }

        .phannoidung p {
            margin: 1%;
        }
}
/*-----CHÍNH SÁCH ĐỔI TRẢ-------*/
.phannoidung ul li {
    margin: 1%;
}

    .phannoidung ul {
        list-style: disc;
    }
@media screen and (min-width:480px ) {
    .phannoidung ul li {
        margin: 2%;
    }
}
    @media screen and (min-width:1024px ) {
        .phannoidung ul li {
            margin: 2%;
        }
    }
 /*-----ĐIỂU KHOẢN DỊCH VỤ-----*/
    .phannoidung ol li {
        font-size: 20px;
    }

    .phannoidung p {
        margin-left: -1%;
        margin-bottom: 3%;
        margin-top: 1%;
        font-size: 20px;
    }
    @media screen and (min-width:480px ) {
        .phannoidung ol li {
            font-size: 20px;
        }

        .phannoidung p {
            margin-left: -1%;
            margin-bottom: 3%;
            margin-top: 1%;
            font-size: 20px;
        }
    }
    @media screen and (min-width:1024px ) {
        .phannoidung ol li {
            font-size: 20px;
        }

        .phannoidung p {
            margin-left: -1%;
            margin-bottom: 3%;
            margin-top: 1%;
            font-size: 20px;
        }
    }


section-content
{
    margin-top:100px;
}
/*------------PHẦN LIÊN HỆ---------------*/
/*----Trái cây sấy-----*/
.cartegory {
    padding: 1% 4% 4%;
    margin-bottom: 10%;
}

.cartegory-top {
    margin-bottom: 2%;
}

    .cartegory-top p {
        margin: 0 1%;
        font-size: 12px;
    }

.cartegory-left {
    width: 90%;
    background: linear-gradient(40deg,#4caf5014,#ffeb3b17);
    border-radius: 3px;
    border: 3px solid #d5d5d500;
    color: #333333;
    border-image-source: linear-gradient(to right, #4caf5080, #9c27b0a8, #03a9f4a6);
    border-image-slice: 1;
    font-family: inherit;
    font-size: 18px;
    font-stretch: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin-left: 2%;
    padding: 1%;
    vertical-align: baseline;
    text-align: left;
    margin-top:5%;
}

    .cartegory-left ul li ul li {
        margin-left: -10%;
        
    }
    .cartegory-left ul li ul li a{
        text-decoration: none;
    }

        .cartegory-left ul li ul li a:hover {
            color: orange;
        }

    .cartegory-left li {
        list-style-type: none;
    }

.cartegory-right {
    width: 100%;
}

.cartegory-right-top-item:first-child {
    flex: 2;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.cartegory-right-top-item {
    flex: 1;
    padding: 1% 1%;
    margin-top:1%;

}
.cartegory-right-top-item-s {
    flex: 1;
    padding: 1% 1%;
    margin-top: 1%;
    margin-left:-8%;
}
.cartegory-right-top-item-s button {
    width: 100%;
    padding: 1% 1%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #ffff;
    border: 1px solid #dddddd;
}
.cartegory-right-top-item button {
    width: 100%;
    padding: 1% 1%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #ffff;
    border: 1px solid #dddddd;
}

    .cartegory-right-top-item select {
        width: 100%;
        padding: 1% 1%;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        background-color: #ffff;
        border: 1px solid #dddddd;
    }

.cartegory-right-content {
    margin-top: 1%;
    justify-content: space-between;
}

.cartegory-right-content-item {
    width: calc(47%);
    text-align: center;
    margin-top: 2%;
    margin-right: 1%;
    padding: 1%;
    color: darkgreen;
    background-color: #fafafa;
    font-size: 14px;
    height:30%;
}
.cartegory-right-content-item-content{
    margin-top:10%;
    margin-bottom:10%;
}
.cartegory-right-content-item img {
    width: 95%;
    height: 55%;
    margin-top: 2%;
}
.cartegory-right-content-item:hover {
    width: calc(47%);
    padding: 1%;
    background-color: #ffc764;
    color: white;
    font-size: 15px;
    height: 31%;
}

    .cartegory-right-content-item h2 {
        margin-top: 1%;
    }


.cartegory-right-top-item-icon {
    border: 2px solid darkgreen;
    border-radius: 200px;
    width: 6%;
    height: 6%;
    padding: 1.5%;
    font-size: 15px;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}

    .cartegory-right-top-item-icon a {
        color: cadetblue;
        text-decoration: none;
    }

        .cartegory-right-top-item-icon a:hover {
            color: white;
            
        }




.cartegory-right-bottom {
    justify-content: space-between;
    margin: 5% 1% 25% 3%;
}

    .cartegory-right-bottom a {
        color: black;
        text-decoration:none;
    }

        .cartegory-right-bottom a:hover {
            color: orange;
        }

.cartegory-left ul li {
    padding: 1% 10%;
}

    .cartegory-left ul li > a {
        color: darkgreen;
        font-size: 18px;
        font-weight: bold;
    }

    .cartegory-left ul li ul li {
        padding-left: 1%;
    }

        .cartegory-left ul li ul li a {
            color: #333333;
            font-size: 13px;
            margin-left: 13%;
        }

.sprow {
    display: flex;
    flex-wrap: wrap;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.spcontainer {
    max-width: 100%;
    margin: auto;
}

.cartegory-left-li ul {
    display: none;
}
.cartegory-left-li a{
    text-decoration:none;
}


.cartegory-left-li.block ul {
    display: block;
}
@media screen and (min-width:480px ) {
    .cartegory {
        padding: 1% 3% 2%;
    }

    .cartegory-top {
        margin-bottom: 2%;
    }

        .cartegory-top p {
            margin: 0 1%;
            font-size: 12px;
        }

    .cartegory-left {
        width: 23%;
        font-size: 17px;
        margin-left: 1%;

    }

        .cartegory-left ul li ul li {
            margin-left: -15%;
            margin-top:5%;
            margin-bottom:5%;
        }
    .cartegory-right {
        width: 70%;
    }

    .cartegory-right-top-item:first-child {
        font-size: 18px;
    }

    .cartegory-right-top-item {
        padding: 1% 1%;
        margin-top: 1%;
    }
    .cartegory-right-top-item-s {
        flex: 1;
        padding: 1% 1%;
        margin-top: 1%;
        margin-left: -8%;
    }
    .cartegory-right-content {
        margin-top: 1%;
    }
    .cartegory-right-content-item {
        width: calc(47%);
        margin-top: 2%;
        margin-right: 1%;
        padding: 1%;
        font-size: 16px;
        height: 28%;

    }
    .cartegory-right-content-item-content {
        margin-top: 6%;
        margin-bottom: 10%;
    }
    .cartegory-right-content-item img {
        width: 90%;
        height: 57%;
        margin-top: 2%;
    }
    .cartegory-right-content-item:hover {
        width: calc(47%);
        padding: 1%;
        font-size: 17px;
        height: 29%;
    }

    .cartegory-right-content-item h2 {
        margin-top: 1%;
    }
    .cartegory-right-top-item-icon {
        width: 6%;
        height: 6%;
        padding: 1.5%;
        font-size: 15px;
        margin-left: 1%;
        margin-right: 1%;
    }
    .cartegory-right-bottom {
        margin: 5% 1% 25% 5%;
    }
    .cartegory-left ul li {
        padding: 1% 1%;
    }

        .cartegory-left ul li > a {
            font-size: 18px;
        }
            .cartegory-left ul li ul li a {
                font-size: 14px;
                margin-left: 11%;
            }
}
@media screen and (min-width:1024px ) {
    .cartegory {
        padding: 1% 4%;
    }

    .cartegory-top {
        margin-bottom: 2%;
    }

        .cartegory-top p {
            margin: 0 1%;
            font-size: 12px;
        }

    .cartegory-left {
        width: 12%;
        font-size: 18px;
        padding: 1%;
    }

        .cartegory-left ul li ul li {
            margin-left: -7%;
        }

    .cartegory-right {
        width: 83%;
    }

    .cartegory-right-top-item:first-child {
        font-size: 20px;
    }

    .cartegory-right-top-item {
        padding: 1% 1%;
        margin-top: 1%;
    }

    .cartegory-right-top-item-s {
        flex: 1;
        padding: 1% 1%;
        margin-top: 1%;
        margin-left: -8%;
    }

    .cartegory-right-content {
        margin-top: 1%;
    }

    .cartegory-right-content-item {
        width: calc(30%);
        margin-right: 1%;
        padding: 1%;
        font-size: 18px;
        height: 46%;
    }

    .cartegory-right-content-item-content {
        margin-top: 5%;
        margin-bottom:1%;
    }

    .cartegory-right-content-item img {
        width: 90%;
        height: 67%;
        margin-top: 2%;
    }

    .cartegory-right-content-item:hover {
        width: calc(31%);
        padding: 1%;
        font-size: 18px;
        height: 47%;
    }

    .cartegory-right-content-item h2 {
        margin-top: 1%;
    }

    .cartegory-right-top-item-icon {
        width: 6%;
        height: 6%;
        padding: 1.5%;
        font-size: 18px;
        margin-left: 1%;
        margin-right: 1%;
    }

    .cartegory-right-bottom {
        margin: 5% 1% 1% 60%;
    }

    .cartegory-left ul li {
        padding: 4% 0%;
    }

        .cartegory-left ul li > a {
            font-size: 20px;
        }

        .cartegory-left ul li ul li a {
            font-size: 14px;
            margin-left: 11%;
            margin-top:2%
        }
}
/*Bơ*/
.cartegory-right-content-item-bo {
    width: calc(47%);
    text-align: center;
    margin-top: 2%;
    margin-right: 1%;
    padding: 1%;
    color: darkgreen;
    background-color: #fafafa;
    font-size: 14px;
    height: 17%;
}


.cartegory-right-content-item-bo img {
    width: 95%;
    height: 52%;
    margin-top: 2%;
}

.cartegory-right-content-item-bo:hover {
    width: calc(47%);
    padding: 1%;
    background-color: #ffc764;
    color: white;
    font-size: 15px;
    height: 18%;
}

.cartegory-right-content-item-bo h2 {
    margin-top: 1%;
}
@media screen and (min-width:480px ) {
    .cartegory-right-content-item-bo {
        width: calc(47%);
        margin-top: 2%;
        margin-right: 1%;
        padding: 1%;
        font-size: 16px;
        height: 19%;
    }

    .cartegory-right-content-item-bo img {
        width: 90%;
        height: 56%;
        margin-top: 2%;
    }

    .cartegory-right-content-item-bo:hover {
        width: calc(47%);
        padding: 1%;
        font-size: 17px;
        height: 20%;
    }

    .cartegory-right-content-item-bo h2 {
        margin-top: 1%;
    }
}
@media screen and (min-width:1024px ) {
    .cartegory-right-content-item-bo {
        width: calc(28%);
        margin-right: 1%;
        padding: 1%;
        font-size: 18px;
        height: 30%;
    }


    .cartegory-right-content-item-bo img {
        width: 90%;
        height: 64%;
        margin-top: 2%;
    }

    .cartegory-right-content-item-bo:hover {
        width: calc(29%);
        padding: 1%;
        font-size: 18px;
        height: 31%;
    }

    .cartegory-right-content-item-bo h2 {
        margin-top: 1%;
    }
}
    /*----TIN TỨC----*/
.ttcartegory {
    
    padding: 5% 0 0;
    margin-top: -1%;
    height: 100%;
}

    .ttcontainer {
        overflow: auto;
        margin-right: 2%;
        text-align: center;
        text-align: left;
        margin-left: 2%;
    }

    .ttcartegory-right-top-item {
        flex: 1;
        padding: 1% 1%;
        margin: 5%;
        font-size: 18px;
    }

        .ttcartegory-right-top-item button {
            width: 100%;
            padding: 1% 1.5%;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            background-color: #ffff;
            border: 1px solid #dddddd;
        }

        .ttcartegory-right-top-item select {
            width: 100%;
            padding: 1% 1.5%;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            background-color: #ffff;
            border: 1px solid #dddddd;
        }

    .tintuc {
        width: 100%;
        padding: 2%;
        margin-top: -1%;
        margin-bottom: 1%;
        text-align: center;
    }

    .tintuc-content {
        margin-top: 1%;
        justify-content: space-between;
    }

.tintuc-content-item {
   
    width: calc(85%);
    text-align: center;
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 9%;
    padding: 5%;
    color: black;
    margin-bottom: 1%;
    background-color: #fafafa;
    font-size: 14px;
    height: 9.5%;
    margin-top: 1%;
}

        .tintuc-content-item:hover {
            padding: 4%;
            background-color: gainsboro;
            color: darkgreen;
            font-size: 15px;
            width: calc(84%);
            height: 11%;
        }

        .tintuc-content-item img {
            width: 90%;
            height: 35%;
            margin-top: 1.5%;
        }

    .tintuc-content-item-date {
        font-size: 12px;
        color: gray;
        margin: 1% 2% 1% 2%;
        text-align: left;
    }

    .tintuc-content-item-content {
        font-size: 16px;
        color: gray;
        width: 100%;
        margin: 2%;
        text-align: left;
    }

.tintuc-content-item h3 {
    width: 100%;
    margin: 2%;
    text-align: left;
    color: darkgreen;
    text-decoration: none;
}

    .tintuc-content-item h3 a {
        color: darkgreen;
        text-decoration: none;
    }

.tintuc-content-item h4 a {
    width: 100%;
    margin: 2%;
    text-align: left;
    color: darkgreen;
    text-decoration: none;
}

    .ttcartegory-right-bottom {
        justify-content: space-between;
        margin: 3% 1% 20% 10%;
        font-size: 16px;
    }

        .ttcartegory-right-bottom a {
            color: black;
            text-decoration: none;
        }

            .ttcartegory-right-bottom a:hover {
                color: orange;
            }

    .tintuc-content-ite-hr {
        margin: 10px;
    }

    @media screen and (min-width:480px ) {
        .ttcartegory {
            margin-top: -1%;
            height: 100%;
        }

        .ttcontainer {

            text-align: left;
        }

        .ttcartegory-right-top-item {
            flex: 1;
            padding: 1%;
            margin: 3%;
            font-size: 18px;
            text-align: left;
        }

            .ttcartegory-right-top-item button {
                width: 100%;
                padding: 1%;
            }

            .ttcartegory-right-top-item select {
                width: 100%;
                padding: 1% 1.5%;
            }

        .tintuc {
            width: 100%;
            margin-top: -1%;
            margin-bottom: 1%;
        }

        .tintuc-content {
            margin-top: 1%;
        }

        .tintuc-content-item {
            width: calc(46.5%);
            margin: 0.1%;
            padding: 1%;
            margin-bottom: 1%;
            font-size: 13.5px;
            height: 19%;
        }

            .tintuc-content-item:hover {
                padding: 1%;
                font-size: 14.5px;
                width: calc(48%);
                height: 20%;
            }

            .tintuc-content-item img {
                width: 83%;
                height: 35%;
                margin-top: 1.5%;
            }

        .tintuc-content-item-date {
            font-size: 12px;
            margin: 1% 2% 1% 2%;
        }

        .tintuc-content-item-content {
            font-size: 15.5px;
            width: 100%;
            margin: 2%;
        }

        .tintuc-content-item h3 {
            width: 100%;
            margin: 2%;
        }

        .tintuc-content-item h4 a {
            width: 100%;
            margin: 2%;
        }

        .ttcartegory-right-bottom {
            margin: 3% 1% 10% 40%;
            font-size: 16px;
            text-decoration: none;
        }
    }

    @media screen and (min-width:1024px ) {
        .ttcartegory {
            padding: 5%;
            margin-top: -1%;
            height: 100%;
        }

        .ttcontainer {
            margin-right: 1%;
            text-align: left;
            margin-left: 1%;
        }

        .ttcartegory-right-top-item {
            flex: 1;
            padding: 1%;
            margin: -1% 1% 1% 1%;
            font-size: 20px;
            text-align: left;
        }

            .ttcartegory-right-top-item button {
                width: 100%;
                padding: 1%;
            }

            .ttcartegory-right-top-item select {
                width: 100%;
                padding: 1%;
            }

        .tintuc {
            width: 100%;
            padding: 1%;
            margin-top: -1%;
            margin-bottom: 1%;
        }

        .tintuc-content {
            margin-top: 1%;
            padding: 1%;
        }

        .tintuc-content-item {
            width: calc(29%);
            margin: 0.5%;
            padding: 2% 1% 2% 1%;
            margin-bottom: 1%;
            font-size: 16px;
            height: 30%;
        }

            .tintuc-content-item:hover {
                padding: 1%;
                font-size: 15px;
                width: calc(31%);
                height: 31%;
            }

            .tintuc-content-item img {
                width: 90%;
                height: 39%;
                margin-top: 1.5%;
            }

        .tintuc-content-item-date {
            font-size: 14px;
            margin: 1% 2% 1% 2%;
        }

        .tintuc-content-item-content {
            font-size: 18px;
            width: 100%;
            margin: 2%;
        }

        .tintuc-content-item h3 {
            width: 100%;
            margin: 2%;
        }

        .tintuc-content-item h4 a {
            width: 100%;
            margin: 2%;
        }

        .ttcartegory-right-bottom {
            margin: 1% 1% 3% 70%;
            font-size: 16px;
        }
    }
    /*----TRANG GIỚI THIỆU----*/


    /*----TRANG CÔNG THỨC NẤU ĂN----*/
    .cook {
        padding: 100px 0 0;
    }

    .recipe {
        margin-top: 20px;
        justify-content: space-between;
    }

    .recipe-item {
        width: 100%;
        text-align: left;
        margin-top: 50px;
        font-size: 13px;
        height: 350px;
        background-color: khaki;
        color: black;
        padding: 100px 0 0;
    }

        .recipe-item h1 {
            font-size: 55px;
            margin-left: 65px;
        }

        .recipe-item span img {
            width: 250px;
            height: 250px;
            margin: -50px 150px 150px 150px;
            text-align: center;
        }




    /*------TRANG TIN TỨC CHI TIẾT---------*/
  

